# Go
**/bin/
**/dist/
**/*.test
/build/
coverage*.out
bin
.gocache

# Node/Next
web/admin/node_modules
web/admin/.next
web/admin/.turbo
web/admin/out

# VCS / IDE
.git
.gitignore
.vscode
.idea
.DS_Store
.github
.claude

# Misc
*.log
.pnpm-store
queries
tests
docs
deploy
