apiVersion: v1
kind: Service
metadata:
  name: admin-web-proxy
  labels:
    app: admin-web-proxy
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: admin-web-proxy