apiVersion: v1
kind: ConfigMap
metadata:
  name: node-1-config
  labels:
    app: canopy-node
    node-id: "1"
data:
  config.json: |
    {
      "logLevel": "debug",
      "chainId": 1,
      "sleepUntil": 0,
      "rootChain": [
        {
          "chainId": 1,
          "url": "http://node-1.default.svc.cluster.local:50002"
        },
        {
          "chainId": 2,
          "url": "http://node-2.default.svc.cluster.local:40002"
        }
      ],
      "runVDF": false,
      "headless": false,
      "walletPort": "50000",
      "explorerPort": "50001",
      "rpcPort": "50002",
      "adminPort": "50003",
      "rpcURL": "http://localhost:50002",
      "adminRPCUrl": "http://localhost:50003",
      "timeoutS": 3,
      "dataDirPath": "/root/.canopy",
      "dbName": "canopy",
      "inMemory": false,
      "networkID": 1,
      "listenAddress": "0.0.0.0:9001",
      "externalAddress": "node-1.default.svc.cluster.local",
      "maxInbound": 21,
      "maxOutbound": 7,
      "trustedPeerIDs": null,
      "dialPeers": ["node-2.default.svc.cluster.local:9001", "node-3.default.svc.cluster.local:9003"],
      "bannedPeerIDs": null,
      "bannedIPs": null,
      "minimumPeersToStart": 0,
      "newHeightTimeoutMS": 4500,
      "electionTimeoutMS": 1500,
      "electionVoteTimeoutMS": 1500,
      "proposeTimeoutMS": 2500,
      "proposeVoteTimeoutMS": 4000,
      "precommitTimeoutMS": 2000,
      "precommitVoteTimeoutMS": 2000,
      "commitTimeoutMS": 2000,
      "roundInterruptTimeoutMS": 2000,
      "maxTotalBytes": 1000000,
      "maxTransactionCount": 5000,
      "individualMaxTxSize": 4000,
      "dropPercentage": 35,
      "metricsEnabled": true,
      "prometheusAddress": "0.0.0.0:9090"
    }
